@charset "utf-8";
/* CSS Document */

/*产品内容开始了*/
#content {
	width:1190px;
	margin:20px auto 30px;	
}
	/*中间的产品购买信息*/
#content .goods {
	height:500px;
	margin-top:20px;	
}
		/*左边*/
#content .goods .left {
	width:402px;
}
#content .goods .left #pic {
	width:400px;
	height:400px;
	position:relative;
	margin-bottom:10px;
	border:1px solid #000;	
}
			/*放大镜*/
#content .goods .left #pic #big_box {
	width:400px;
	height:400px;
	
	position:absolute;
	display:none;
	left:500px;
	top:0px;
	border:1px solid #000;	
	z-index:5;
}
#content .goods .left #pic #big_box div {
	width:400px;
	height:400px;
	overflow:hidden;
	position:relative;
}
#content .goods .left #pic #big_box div img {
	position:absolute;
	top:0;
	left:0;
}
#content .goods .left #pic #float_box {
	width:200px;
	height:200px;
	position:absolute;
	display:none;
	top:0;
	left:0;
	
	opacity:0.5;
	background:#666;
}

			/*小图切换*/
#content .goods .left .small_box {
	width:400px;
}
#content .goods .left .small_box ul a {
	width:10px;
	height:50px;
	display:inline-block;
}
#content .goods .left .small_box a.prev {
	background:url(../img/spec-scroll-bg.png) 0 30px no-repeat;
}
#content .goods .left .small_box ul a {
	background:url(../img/spec-scroll-bg.png) -10px 30px no-repeat;
}
#content .goods .left .small_box ul li {
	width:50px;
	height:50px;
	margin-left:10px;
	cursor:pointer;	
}
#content .goods .left .small_box ul li.active {
	border:1px solid red;	
}

		/*右边*/
#content .goods .right {
	width:600px;
	height:400px;
	margin-left:100px;
	color:#999;
}	
			/*名称*/
#content .goods .right h3 {
	font-size:18px;	
	color:black;
	margin-bottom:5px;
}
			/*价格*/
#content .goods .right .price {
	height:50px;
	line-height:50px;
	background:#efefef;
	padding-left:10px;
	margin-bottom:20px;
}
#content .goods .right .price span {
	color:red;
	font-size:22px;
}
			/*所有行*/
#content .goods .right .hang {
	height:50px;
	padding-left:10px;	
}
#content .goods .right .hang span {
	color:#000;	
}

			/*选择等级*/
#content .goods .right .choose span.word {
	width:40px;
	height:20px;
	margin-left:10px;
	display:inline-block;
	position:relative;
	border:1px solid red;	
}
#content .goods .right .choose .word .pict {
	height:15px;
	width:15px;	
	display:inline-block;
	position:absolute;
	bottom:0;
	right:0;
	background:url(../img/icons-add.png) -83px -44px;
}
			/*购买数量*/
#content .goods .right .amount a {
	width:20px;
	height:25px;
	line-height:25px;
	display:inline-block;
	text-align:center;
	font-weight:bold;
	color:#ccc;
	border:1px solid #CCC;
}
#content .goods .right .amount span {
	width:25px;
	height:25px;
	line-height:25px;
	display:inline-block;
	text-align:center;
	border:1px solid #ccc;
}
			/*支持服务*/
#content .goods .right .server img {
	vertical-align:-5px;	
}

			/*加购物车*/
#content .goods .right .hang .button {
	width:90px;
	height:46px;
	
	margin-right:20px;
	border:1px solid red;
	border-radius:10px;
	
	line-height:46px;
	text-align:center;
	color:#fff;	
	
	background:red;
	cursor:pointer;
}

	/*商品详情*/
		/*左边的热卖推荐*/
#content .details .left_hot {
	width:220px;
}
#content .details .left_hot h3 {
	height:22px;
	line-height:22px;
	text-align:center;
	background:#efefef;	
}
#content .details .left_hot ul li {
	height:100px;
	padding-top:10px;
	border-top:1px solid #efefef;
}
#content .details .left_hot ul li img {
	width:80px;
	height:80px;	
}
#content .details .left_hot ul li div {
	width:100px;
	margin-left:20px;	
}
#content .details .left_hot ul li div span {
	color:#e0221c;	
}
		/*右边的详情*/
#content .details .right_det {
	width:950px;
	margin-left:20px;
}
#content .details .right_det .switch {
	height:30px;
	
	line-height:30px;
	
	border:1px solid #efefef;
	border-right:none;	
}
#content .details .right_det .switch span {
	width:90px;	
	height:30px;
	display:inline-block;
	
	font-weight:bold;
	color:#999;
	
	text-align:center;
	border-right:1px solid #efefef;
	cursor:pointer;
}
#content .details .right_det .switch span#goods_com {
	width:120px;	
}
#content .details .right_det .switch span:hover {
	color:red;	
}
#content .details .right_det .switch span.active {
	color:#fff;
	background:#e81a29;	
}
#content .details .right_det .txt {
	height:70px;
	background:#efefef;	
}
#content .details .right_det .txt ul li {
	width:300px;
	height:35px;
	line-height:35px;
	padding-left:10px;
	color:#545454;
}
			/*商品的评论*/
#content .details .right_det #com_show #com_button {
	width:950px;
	height:30px;
	line-height:30px;	
	background:#efefef;
}
#content .details .right_det #com_show #com_button a {
	height:30px;
	width:90px;
	display:inline-block;
	text-align:center;
	font-weight:bold;	
}
#content .details .right_det #com_show #com_button a.active {
	color:#e81a29;	
}
			/*商品的评论里的0%那一中间*/
#content .details .right_det #com_show {
	margin-bottom:30px;	
	color:#545454;
}
#content .details .right_det #com_show .rating {
	height:100px;
	margin-top:30px;
}
#content .details .right_det #com_show .rating .rating_left {
	height:100px;
	width:100px;
	text-align:center;	
}
#content .details .right_det #com_show .rating .rating_left .bold {
	font-size:45px;
	font-weight:bold;	
}
#content .details .right_det #com_show .rating .rating_right {
	margin-left:20px;	
}
#content .details .right_det #com_show .rating .rating_right ul li {
	height:28px;
	line-height:28px;		
}
#content .details .right_det #com_show .rating .rating_right ul li span {
	height:10px;
	width:200px;
	display:inline-block;
	background:#ccc;	
}
		    /*售后服务*/
#content .details .right_det #ser_show {
	height:150px;
	padding:15px;
	border:1px solid #ccc;
	color:#545454;
	background:#efefef;	
}

















