body {
    margin:0;
    background:#FAFAFA;
    width:100vw;
}

/*最上面的tab*/
#tab {
    margin:5vw auto 0;
    width:90vw;
    height:7vw;
}
/*首页不显示，其他tab显示的logo*/
#tab .tab_left {
    width:7vw;
    height:7vw;
    display:none;
    float:left;
}
#tab .tab_left img {
    width:7vw;
    height:7vw;
}
/*右边的tab选项*/
#tab .tab_right {
    width:74vw;
    height:3vw;
    display:inline-block;
    list-style: none;
    float:right;
}
#tab .tab_right li {
    float:left;
    color:#666666;
    font-size: 2vw;
}

#tab .tab_right li span.isclick {
    font-weight: bold;
    color:#333;
}
#tab .tab_right li span.line {
    margin:0 2vw;
}

/*中间内容*/
/*首页*/
.content .index {
    margin: 12vw auto;
    height:170vw;
    width:90vw;
}
/*首页上面*/
.content .index .index_middle_top {
    margin:0 auto 18vw;
    width:53vw;
    height:51vw;
    text-align: center;
}
.content .index .index_middle_top .img1 {
    width:52vw;
    height:17vw;
    margin-bottom: 10vw;
}
.content .index .index_middle_top .img2 {
    height:24vw;
    width:21vw;
    float:left;
    margin-right: 4vw
}
.content .index .index_middle_top .download {
    width:28vw;
    height:9vw;
    display: inline-block;
    float:left
}
.content .index .index_middle_top .download a {
    text-decoration: none;
}
.content .index .index_middle_top .download a div {
    width:28vw;
    height:9vw;
    margin-bottom:5vw;
    background: #333;
    border-radius: 4px;
    color:#fff;
    line-height: 9vw;
    font-size: 3vw;
}
.content .index .index_middle_top .download a div img {
    vertical-align: -1vw;
    width:4vw;
    height:4vw;
}
/*首页下面*/
.content .index .index_middle_bottom {
    width:68vw;
    height:98vw;
    margin:0 auto;
}
.content .index .index_middle_bottom img {
    width:68vw;
    height:98vw;
}

/*关注我们*/
.content .follow {
    height:54vw;
    width:82vw;
    margin:22vw auto;
}
.content .follow p {
    height:4vw;
    width:82vw;
    display: inline-block;
    text-align: center;
    color:#333;
    font-size: 3vw;
    font-weight: bold;
    margin:0 auto 8vw;
}
.content .follow img {
    height:42vw;
    width:82vw;
}

/*联系我们*/
.content .contact {
    width:33vw;
    height:22vw;
    margin:10vw auto 88vw;
}
.content .contact .p1 {
    color:#343434;
    font-size: 3vw;
}
.content .contact p {
    color:#666;
    font-size: 2vw;
}

/*用户协议，隐私政策，版权声明*/
.content .text {
    width:90vw;
    margin: 13vw auto 17vw;
}
.content .text p.title {
    color:#333;
    font-size: 3vw;
    font-weight: bold;
    margin-bottom: 4vw;
}
.content .text div.word {
    width:90vw;
}
.content .text p {
    font-size: 2vw;
    color:#666;
}
.content .text p b {
    font-size: 2vw;
    color:#333;
}


/*底部内容*/
.bottom {
    height:37vw;
    width:100vw;
    background:#333333;
    color:#999999;
    font-size:2vw;
}
.bottom div.fortop {
    padding-top: 20vw;
}
.bottom div {
    height:4vw;
    text-align:center;
    margin-bottom: 2vw;
}